<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devprofs_developer</title>
</head>
<body>

<h1>{{ dev.dev_name }}</h1>
<h2>Developer basic profile:</h2>
    <p>balabala</p>
<h2>Developer score:</h2>
    <table>
        <tr>
            <td>Class</td>
            <td>Score</td>
        </tr>
        <tr>
            <td>Documentation </td>
            <td>{{ dev.dev_score_Documentation  }}</td>
        </tr>
        <tr>
            <td>CodeStyle </td>
            <td>{{ dev.dev_score_CodeStyle  }}</td>
        </tr>
        <tr>
            <td>Performance </td>
            <td>{{ dev.dev_score_Performance  }}</td>
        </tr>
        <tr>
            <td>BestPractices </td>
            <td>{{ dev.dev_score_BestPractices  }}</td>
        </tr>
        <tr>
            <td>Security </td>
            <td>{{ dev.dev_score_Security  }}</td>
        </tr>
        <tr>
            <td>Multithreading </td>
            <td>{{ dev.dev_score_Multithreading  }}</td>
        </tr>
        <tr>
            <td>Design </td>
            <td>{{ dev.dev_score_Design  }}</td>
        </tr>
        <tr>
            <td>ErrorProne </td>
            <td>{{ dev.dev_score_ErrorProne  }}</td>
        </tr>
    </table>



</body>
</html>