<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devprofs_developer</title>
    <script src="/static/script/echarts.min.js"></script>
</head>
<body>
<div class="body">
    <div class="title">
        <h1>{{ dict_for_html.devName }}</h1>
    </div>
    <div class="basic profile">
        <h2>Developer basic profile</h2>
        <table class="basic profile" width="600px">
            <tr>
                <td width="200px">Github Site:</td>
                <td width="400px"><a href="{{ dict_for_html.Githubsite.url }}">{{ dict_for_html.Githubsite.text }}</a></td>
            </tr>
            <tr>
                <td>In Projects:</td>
                <td>
                    {% for proj in dict_for_html.ActiveIn %}
                    <a href="{{ proj.url }}">{{ proj.text }}</a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Own Projects:</td>
                <td>
                    {% for proj in  dict_for_html.Own %}
                    <a href="{{ proj.url }}">{{ proj.text }}</a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <div class="scores">
        <h2>Developer score</h2>
        <div class="coding abilities">
            <h3>Coding Abilities</h3>
            <table class="coding-abilities" width="600px">
                <tr>
                    <td width="300px">
                        <table class="coding-abilities-data">
                            <tr>
                                <th width="200px">Class</th>
                                <th width="100px">Score</th>
                            </tr>
                            {% for ca in  dict_for_html.CodingAbilities.calist %}
                            <tr>
                                <td>{{ ca.Class }} </td>
                                <td>{{ ca.Score }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td width="300px">
                        <div class="coding-abilities-radar" id="coding-abilities-radar" style="width:300px; height:300px"></div>
                    </td>
                </tr>


            </table>

        </div>
        <div class="API frequency">
            <h3>Skill Preference</h3>
            <table class="API frequency">
                <tr>
                    <td width="300px">
                        <table class="API-frequency-data">
                            <tr>
                                <th width="200px">Class</th>
                                <th width="100px">Score</th>
                            </tr>
                            {% for sp in  dict_for_html.SkillPreference.splist %}
                            <tr>
                                <td>{{ sp.Class }} </td>
                                <td>{{ sp.Score }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td width="300px">
                        <div class="API-frequency-radar" id="API-frequency-radar" style="width:300px; height:300px"></div>
                    </td>
                </tr>


            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart_coding = echarts.init(document.getElementById('coding-abilities-radar'));
    // 指定图表的配置项和数据
    var option_coding = {
        title: {
            text: '通用编程能力'
        },
        tooltip: {},
        legend: {
            orient : 'vertical',
            x : 'right',
            y : 'bottom',
            data: ['Average', 'the Coder']
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
               }
            },
            indicator: [
               { name: 'Documentation', max: 100},
               { name: 'CodeStyle', max: 100},
               { name: 'Performance', max: 100},
               { name: 'JavaFeature', max: 100},
               { name: 'Security', max: 100},
               { name: 'Multithreading', max: 100},
               { name: 'Design', max: 100},
               { name: 'ErrorProne', max: 100},
            ]
        },
        series: [{
            name: '通用编程能力雷达图',
            type: 'radar',
            // areaStyle: {normal: {}},
            data : [
                {
                    value : {{ dict_for_html.CodingAbilities.ca_Scorelist }},
                    name : 'the Coder'
                },
                 {
                    value : {{ dict_for_html.CodingAbilities.caAverage }},
                    name : 'Average'
                }
            ]
        }]
    };
    // 为echarts对象加载数据
    myChart_coding.setOption(option_coding);

    // 基于准备好的dom，初始化echarts实例
    var myChart_API = echarts.init(document.getElementById('API-frequency-radar'));
    // 指定图表的配置项和数据
    var option_API = {
        title: {
            text: '开发技能偏好'
        },
        tooltip: {},
        legend: {
            orient : 'vertical',
            x : 'right',
            y : 'bottom',
            data: ['Average', 'the Coder']
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
               }
            },
            indicator: [
               { name: 'NetWork', max: 100},
               { name: 'I/O', max: 100},
               { name: 'Math', max: 100},
               { name: 'Database', max: 100},
               { name: 'Security', max: 100},
               { name: 'Text', max: 100},
               { name: 'GUI', max:100},
               { name: 'Others', max:300},
            ]
        },
        series: [{
            name: '开发技能偏好',
            type: 'radar',
            // areaStyle: {normal: {}},
            data : [
                {
                    value : {{ dict_for_html.SkillPreference.sp_Scorelist }},
                    name : 'the Coder'
                },
                 {
                    value : {{ dict_for_html.SkillPreference.spAverage }},
                    name : 'Average'
                }
            ]
        }]
    };
    // 为echarts对象加载数据
    myChart_API.setOption(option_API);;
</script>
</body>
</html>