<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devprofs_index</title>
</head>
<body>
{% if dev_list %}
    <p>Developers</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {% for dev in dev_list %}
        <tr>
            <td><a href="/devprofs/developer/{{ dev.dev_id }}">{{dev.dev_name}}</a></td>
            <td>{{dev.dev_score_All}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No developers are available.</p>
{% endif %}

{% if proj_list %}
    <p>Projects</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Stars</th>
        </tr>
        {% for proj in proj_list %}
        <tr>
            <td><a href="/devprofs/project/{{ proj.proj_id }}">{{proj.proj_name}}</a></td>
            <td>{{proj.proj_stars}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No developers are available.</p>
{% endif %}



</body>
</html>