<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devprofs_index</title>
</head>
<body>
<div class="body">
    <div class="developers">
        <h2>Developers</h2>
        {% if dev_list %}
        <table class="developers" width="600">
            <tr>
                <th width="280">Name</th>
                <th width="160">Follower Numbers</th>
                <th width="160">Contributed Lines</th>
            </tr>
            {% for dev in dev_list %}
            <tr>
                <td><a href="/devprofs/developer/{{ dev.dev_id }}">{{dev.dev_name}}</a></td>
                <td align="center">{{ dev.dev_follower_Number }}</td>
                <td align="center">{{ dev.dev_score_cLOC }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No developers are available.</p>
        {% endif %}
    </div>

    <!--div class="projects">
        {% if proj_list %}
        <h2>Projects</h2>
        <table class="projects">
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Owner</th>
            </tr>
            {% for proj in proj_list %}
            <tr>
                <td><a href="/devprofs/project/{{ proj.proj_id }}">{{proj.proj_name}}</a></td>
                <td>{{proj.proj_stars}}</td>
                <td><a href="/devprofs/developer/{{ proj.proj_owner }}">{{proj.projowername}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No developers are available.</p>
        {% endif %}
    </div-->
</div>
</body>
</html>