<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devprofs_project</title>
</head>
<body>
<div class="body">
    <div class="title">
        <h2>{{ proj.proj_name }}</h2>
    </div>
    <div class="projinfo">
        <table>
            <tr>
                <td>Github URL</td>
                <td><a href="https://github.com/{{ owner.dev_name }}/{{ proj.proj_name }}">https://github.com/{{ owner.dev_name }}/{{ proj.proj_name }}</a></td>
            </tr>
            <tr>
                <td>Stars</td>
                <td>{{ proj.proj_stars }}</td>
            </tr>
            <tr>
                <td>Owner</td>
                <td><a href="/devprofs/developer/{{ owner.dev_id}}/">{{ owner.dev_name }}</a></td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>