<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cooker create</title>
</head>
    <p>New Cooker:</p>
    <form action="/cookingSociety/cooker_new/" method="post">
        <label>name</label>
        <input type="text" name="name">
        <label>炒</label>
        <input type="text" name="skill1">
        <label>烤</label>
        <input type="text" name="skill2">
        <label>煮</label>
        <input type="text" name="skill3">
        <label>蒸</label>
        <input type="text" name="skill4">
        <label>炸</label>
        <input type="text" name="skill5">
        <label>切</label>
        <input type="text" name="skill6">
        <input type="submit" value="创建">
    </form>
<body>

</body>
</html>