<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking Society</title>
</head>
<body>
    <p>Welcome to Cooking Society</p>
    {% if cookerlist %}
        <p>we have Cookers:</p>
        <ul>
        {% for cooker in cookerlist %}
            <!--li><a href="/cookingSociety/cooker/{{ cooker.id }}/">{{ cooker.name }}</a></li-->
            <li><a href="{% url 'cookingSociety:cooker_detail' cooker.id %}">{{ cooker.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No cookers are available.</p>
    {% endif %}
    <button><a href="/cookingSociety/cooker_create">create</a></button>

    {% if dishlist %}
        <p>we have dishes:</p>
        <ul>
        {% for dish in dishlist %}
            <li><a href="/cookingSociety/dish/{{ dish.id }}/">{{ dish.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No dishes are available.</p>
    {% endif %}
    <button><a href="/cookingSociety/dish_create">create</a></button>
</body>
</html>